/*
timeTable.css
*/

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

html,
body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.main-content-border {
    border-top: 7px solid #00b5e2;
    border-bottom: 7px solid #00b5e2;
    border-radius: 5px;
    margin-top: 62px;
    margin-left: 50px;
}

.main-content {
    padding: 20px;
}

.course-information-div {
    margin: 20px;
}

.course-information thead th {
    /* 
        For LTPJC responsive
    white-space: nowrap; 
    */
    color: white;
    vertical-align: middle;
    text-align: center;
    background-color: #3c8dbc;
    border-right: 1px solid #b2b2b2;
    padding: 5px;
    width: 1%;
    font-size: 12px;
    font-weight: bold;
}

.course-information tbody {
    /* For LTPJC responsive */
    /* white-space: nowrap; */
    vertical-align: middle;
    text-align: center;
    background-color: #fff;
    padding: 5px;
    border-right: 1px solid #b2b2b2;
    /* width: 1%; */
    font-size: 12px;
    font-weight: normal;
}

.course-information tbody td {
    padding: 5px;
    border: 1px solid #b2b2b2;
}

.course-information tbody td:nth-child(3) p:last-child,
.course-information tbody td:nth-child(8) p:last-child,
.course-information tbody td:nth-child(9) p:last-child {
    font-weight: bolder;
}

.course-information tfoot {
    width: 100%;
    color: #fff;
    background-color: #3c8dbc;
}

table,
th,
td {
    border: 1px solid rgb(103, 186, 214);
    border-collapse: collapse;
    padding: 0.3rem;
    text-align: center;
}

.time-table {
    margin: 0 auto;
    margin-bottom: 100px;
    border: 1px solid #3c8dbc;
    text-align: center;
    vertical-align: middle;
    padding: 2.5px;
    width: 100%;
}

.title-head {
    background-color: #e2e2e2;
    padding: 5px;
}

.time1,
.lunch {
    background-color: #ccccff;
}

.time2 {
    background-color: #99ccff;
}

.theory-empty {
    background-color: #ffffcc;
}

.lab-empty {
    background-color: #f9efa4;
}

.filled {
    background-color: #ccff33;
}